# Personal files
theorie/
jssp_solver.code-workspace

# Python env
venv/
env/
.env

# Cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# ML and logs
notebooks/tensorboard_logs/*
runs/
*.zip

# OS and IDE
.vscode/
.idea/
.DS_Store